// surcharge des variables de _variables.scss de bootstrap
$font-size-base: 14px !default;
// font path
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path:'~font-awesome/fonts';