<breadcrumb [data]="bcItems"></breadcrumb>

<!-- primeng -->
<button type="button" class="btn btn-success" (click)="successMsg()">Success</button>
<button type="button" class="btn btn-info" (click)="infoMsg()">Info</button>
<button type="button" class="btn btn-warning" (click)="warnMsg()">Warn</button>
<button type="button" class="btn btn-danger" (click)="errorMsg()">Error</button>
<button type="button" class="btn btn-secondary" (click)="showSpinner()">Spinner</button>
<br>
<br>

<p-calendar [(ngModel)]="date" [locale]="fr" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
<br>
<br>

<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="New" icon="fa-plus"></button>
        <button pButton type="button" label="Save" icon="fa-check"></button>
    </div>
    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="fa-refresh"></button>
        <button pButton type="button" icon="fa-trash"></button>
    </div>
</p-toolbar>
<br>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable class="table-hover" [value]="cars" selectionMode="single" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true" [editable]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [responsive]="true" [globalFilter]="gb">
    <p-column field="vin" header="Vin" [sortable]="true" [editable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="year" header="Year" [sortable]="true" [editable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="brand" header="Brand" [sortable]="true" [editable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="color" header="Color" [sortable]="true" [editable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
</p-dataTable>

<!-- notify -->
<simple-notifications [options]="mixinService.notifOpts"></simple-notifications>
<!-- notify -->
<spinner [isRunning]="isRequesting"></spinner>