<breadcrumb [data]="bcItems"></breadcrumb>
<h2>{{ rsc.titleView }}</h2>

<div class="row">
    <div class="col-md-8">

        <div class="form-group">
            <input name="username" id="username" class="form-control" [(ngModel)]="user.username" [placeholder]="rsc.login" disabled>
        </div>

        <div class="form-group">
            <input name="password" id="password" type="password" class="form-control" [(ngModel)]="user.password" [placeholder]="rsc.password" disabled>
        </div>

        <div class="form-group">
            <input name="email" id="email" class="form-control" [(ngModel)]="user.email" [placeholder]="rsc.email" disabled>
        </div>

        <div class="form-group">
            <input name="firstname" id="firstname" class="form-control" [(ngModel)]="user.firstname" [placeholder]="rsc.firstname" disabled>
        </div>

        <div class="form-group">
            <input name="lastname" id="lastname" class="form-control" [(ngModel)]="user.lastname" [placeholder]="rsc.lastname" disabled>
        </div>

        <div class="row pull-right">
            <div class="col-md-12">
                <button class="btn btn-default btn-cancel" (click)="cancel()">{{ rsc.buttons.cancel }}</button>
                <button class="btn btn-default btn-validate" (click)="edit()">{{ rsc.buttons.edit }}</button>
            </div>
        </div>

    </div>
</div>

<!-- notify -->
<simple-notifications [options]="mixinService.notifOpts"></simple-notifications>

<!-- spinner -->
<spinner></spinner>
<!-- notify -->
<simple-notifications [options]="mixinService.notifOpts"></simple-notifications>

<!-- spinner -->
<spinner></spinner>